<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Collection</title>
<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<link href="../../assets/css/upcase.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<h1 th:text="${collection.title}">YOR COLLECTIONS</h1>
	<p th:text="${owner.lastName +', '+ owner.firstName}">COLLECTION OWNER</p>

</body>
</html>