target/
index/
.settings/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
database.properties
dependency-reduced-pom.xml
buildNumber.properties
*.jar
*.war
*.ear
*.tsv
*.csv
*.class
hs_err_pid*
/drc/
