<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>About</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="page-header text-center">
				<h1>Information über das Vorhaben</h1>
			</div>
		</div>
		<div class="row-fluid">
		<div class="span3 well lead">
			<a th:href="@{/}">Zurrück</a>
		</div>
		<div class="span8 lead text-left">
			<p>Unter dieser Internet-Adresse stellen wir jedermann, vom
				Wissenschaftler bis zum interessierten Laien Volltexte in den
				Sprachen Rätoromanisch, Italienisch und Deutsch zur Verfügung.</p>
			<p>
				Da es sich um korrigierte Volltexte handelt, die den Originaltexten
				entsprechen, können sie z.B. mit Hilfe unserer Suchfunktionen bequem
				und äusserst ertragreich exzerpiert werden. Jedes einzelne Wort kann
				in allen seinen Kontexten mit Quellenangabe gefunden und aufgelistet
				werden. Auf diese Weise kann man z.B. auch einem einzelnen Thema wie
				z.B. „Herbst“ (rm: <em>atun</em>) nachgehen und finden, was wo über
				diesen Eintrag <em>atun</em> in den verschiedenen Werken geschrieben
				steht.
			</p>
			<p>
				Wir stellen an dieser Stelle zunächst jedermann die ganze
				Crestomazia Retoromontscha als Volltext unentgeltlich im Internet
				zur Verfügung. Diese 7300 Seiten Text wurden im Rahmen des Projekts
				<a href="http://www.crestomazia.ch">Digitale Rätoromanische
					Chrestomathie</a> (DRC) digitalisiert, OCR gelesen, korrigiert und
				können nun anhand der Suchfunktionen vollständig elektronisch
				exzerpiert werden. An der Korrektur dieser Texte haben einige
				Romanen gearbeitet, aber allen voran Michele Badilatti, ohne dessen
				grossartigen, selbstlosen und kompetenten Einsatz alle diese Texte
				nicht in so kurzer Zeit hätten korrigiert werden können.
			</p>
			<p>Jedermann kann die Texte der Chrestomathie lesen, ausdrucken
				und kommentieren. Schulen, Universitäten, Wissenschaftler oder
				interessierte Laien können nun elektronisch die reiche Auslese aus
				vier Jahrhunderten rätoromanischer Literatur und Kultur aller Idiome
				kennenlernen und nutzen.</p>
			<p>Unter dieser Adresse werden wir neben der Chrestomathie in
				nächster Zeit weitere Werke zur Verfügung stellen. Bereits
				digitalisiert und OCR gelesen sind folgende Werke:</p>
			<ul>
				<li><small>Gartner Theodor: Das Neue Testament. Erste
						Rätoromanische Übersetzung von Jakob Bifrun 1560, Halle/Saale
						1913.</small></li>
				<li><small>Bibliografia retoromontscha. Edida dalla
						Ligia Romontscha. Band I: 1552-1930, Cuera 1938. Bd. II:
						1931-1952, Cuera 1956.</small></li>
				<li><small>Schorta, Andrea, Tschantamaints d’Engiadina
						Bassa / Die Dorfordnungen des Unterengadins, in: Rechtsquellen des
						Kantons Graubünden, Serie B: Dorfordnungen , Bd. 1, Schlarigna
						1982a.</small></li>
				<li><small>Schorta, Andrea, Tschantamaints
						d’Engiadin’ota, da Bravuogn e Filisur / Die Dorfordnungen des
						Oberengadins, von Bergün und Filisur, in: Rechtsquellen des
						Kantons Graubünden, Serie B: Dorfordnungen, Bd. 2, Schlarigna
						1982b.</small></li>
				<li><small>Peer, Oscar: Dicziunari rumantsch
						ladin-tudais-ch. Ediziun da la Lia Rumantscha cun sustegn dal
						Fuond naziunal per la scrutaziun scientifica, Cuoira 1962.</small></li>
				<li><small>Praulas. Tscharna e redacziun da Halter,
						Toni. Illustraziuns da Toja Isenring-Maissen, Cuera 1984.</small></li>
				<li><small>Spescha, Arnold: Grammatica sursilvana, Chur
						1989.</small></li>
			</ul>
		</div>
	</div>
	</div>
</body>
</html>