<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Home</title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../assets/css/upcase.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div sec:authorize="hasRole('ROLE_USER')">
		<div th:replace="fragments/nav-bar-user :: nav-bar-user"></div>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<div th:replace="fragments/nav-bar-admin :: nav-bar-admin"></div>
	</div>
	<div sec:authorize="isAnonymous()">
		<div th:replace="fragments/nav-bar :: nav-bar"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="list-group">
					<h4>
						<small>Recent Collections</small>
					</h4>
					<div class="list-group-item">
						<div
							th:replace="fragments/recent-collections :: recent-collections"></div>
					</div>
				</div>
			</div>
			<div class="col-md-8 text-left well">
				<p class="lead">
					UpCASE is an
					<ins>open source</ins>
					web application for building and maintaining language resources.
				</p>
				<p>It provides a wide range of options for viewing, evaluating,
					manipulating and enriching text collections. UpCASE is conceived as
					a multifunctional webapp where users can upload text documents
					(plain, pdf or scanned and ocr'ed). While being able to search over
					the uploaded text, users can correct, annotate and export it into
					different formats.</p>
				<p style="margin-top: 17px;">UpCASE comprises the experiences of
					years of work on Romansh texts and lexical resources. In several
					earlier projects we have developed web-based editing tools for
					collaborative OCR correction and annotation and a framework for
					collaborative lexicon creation and maintenance. UpCASE combines the
					key features of these projects, namely collaborative corpus
					construction, enrichment and maintenance (for more info on previous
					projects please check the link list below).</p>
				<p style="margin-top: 17px;">
					UpCASE is continuously being developed on <a
						href="https://github.com/spinfo/upcase" target="_blank">GitHub</a>.
					Under the following link you can try out a prototype as applied to
					the <a href="/volumes"> Romansh Chrestomathy</a> (RC) compiled by
					Caspar Decurtins. The RC is meant to be the starting point of <a
						href="http://www.biblioteca-digitala.ch/">Biblioteca Digitala</a>,
					a collection of Romansh texts.
				</p>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
