<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	padding-top: 70px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/}">UpCASE</a>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
		
			<div class="col-md-4 well">
				<h5> Digital verfügbar: </h5>
				<p><small><a th:href="@{/drc/volumes}">Rätoromanische Chrestomathie</a></small></p>
				<h4> In Vorbereitung: </h4>
				<p class="muted"><small>Gartner Theodor: Das Neue Testament (1560)</small></p>
				<p class="muted"><small>Bibliografia retoromontscha</small></p>
				<p class="muted"><small>Schorta, Andrea: Tschantamaints d’EngiadinaBassa.</small></p>
				<p class="muted"><small>Peer, Oscar: Dicziunari rumantschladin-tudais-ch.</small></p>
				<p class="muted"><small>Halter, Toni; Toja Isenring-Maissen: Praulas.</small></p>
				<p class="muted"><small>Spescha, Arnold: Grammatica sursilvana.</small></p>
			</div>

			<div class="col-md-8 lead text-left">
				<p align="left" style="float:left; width:275px;">
					<img src="../images/Biblioteca-Digitala-500px.jpg" width="250px" />
				</p>
				<p style="text-align: justify;">
					Hier entsteht die <em>Biblioteca Digitala</em>, eine digitale
					Bibliothek rätoromanischer Texte. Bereits digital verfügbar ist die
					<a th:href="@{/drc/volumes}">Rätoromanische Chrestomathie</a> von Caspar
					Decurtins (Erlangen 1888-1919, 13 Bände [als Faksimile mit Register
					in 15 Bänden neu hgg. von Octopus-Verlag / Società Retorumantscha,
					Chur 1982-1986]). Weitere Werke werden in Kürze zur Verfügung
					gestellt. Nähere Informationen zum Vorhaben und den geplanten
					Titeln finden Sie<a th:href="@{about}"> hier </a>.
				</p>
			</div>
		</div>
	</div>
</body>
</html>