<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Signin</title>

<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<link href="../assets/css/upcase.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.alert-error { color: red; font-size: 12px; }
</style>
</head>

<body>
	<div th:replace="fragments/nav-bar :: nav-bar"></div>
	<div class="jumbotron">
		<h1>Login</h1>
		<div th:replace="fragments/login-form :: login-form"></div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
