<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{twitter.mentions}">Twitter / Mentions</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div>
					<div th:each="mention : ${mentions}">
						<div><img th:src="${mention.avatar}"></div>
						<div th:text="${mention.fullName}">jhermes</div>
						<div th:text="${mention.userName}">@spinfocl</div>
						<div th:text="${mention.time}">3 Std.</div>
						<div th:text="${mention.atReply}"><a href="@{mention.userName}">@mishopisho</a></div>
						<div th:text="${mention.message}">Kommen da noch mehr so Kracher?</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



