<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profile</title>
<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
<link href="../../assets/css/upcase.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:replace="fragments/nav-bar-user :: nav-bar-user"></div>
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<h1 class="text-left"><code>Profile</code></h1>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-2 col-md-offset-1" style="padding-right: 20px;">
			<img
				src="/images/sorry.png"
				width="150px" height="150px" class="avatar img-circle" alt="avatar"></img>
		</div>
		<div class="col-md-3 text-left">
			<div class="inline">
				<span>User: </span><span style="color: #c7254e;" th:text="${user.lastName +', '+ user.firstName}"></span>
			</div>
			<div class="inline">
				<span>Member since: </span><span style="color: #c7254e;" th:text="${#dates.format(user.creationDate, 'dd/MMM/yyyy')}"></span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="list-group" th:if="${not #lists.isEmpty(collections)}">
				<h5>Collections</h5>
				<div class="list-group-item">
					<div th:each="collection : ${collections}">
					<a href="#" class="greyish"><strong th:text="${collection.title}">TITLE</strong></a>
					<br/>	
					<span style="font-size: 13px; color: #333;" th:text="${collection.description}"></span>
					<p>
					<small><span>Created on: </span><span th:text="${#dates.format(collection.creationDate, 'dd/MMM/yyyy')}">2009-08-01</span></small>
					<small> <a class="btn btn-default btn-xs" th:href="@{/user/collection/{path}(path=${collection.id})}" title="Show"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></small>
					<small sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" href="#" title="Contribute"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></small>
					<small sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-default btn-xs" href="#" title="Like"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></small>
					</p>
					<hr/>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-6">
			<div class="list-group" th:if="${not #lists.isEmpty(collections)}">
				<h5>Contributions</h5>
<!-- 				<div class="list-group-item"> -->
<!-- 					<div th:each="collection : ${collections}"> -->
<!-- 					<a href="#" class="greyish"><strong th:text="${collection.title}">TITLE</strong></a> -->
<!-- 					<br/>	 -->
<!-- 					<span style="font-size: 13px; color: #333;" th:text="${collection.description}"></span> -->
<!-- 					<p> -->
<!-- 					<small><span>Created on: </span><span th:text="${#dates.format(collection.creationDate, 'dd/MMM/yyyy')}">2009-08-01</span></small> -->
<!-- 					<small> <a class="btn btn-default btn-xs" th:href="@{/user/collection/{path}(path=${collection.id})}" title="Show"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></small> -->
<!-- 					<small sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" href="#" title="Contribute"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></small> -->
<!-- 					<small sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-default btn-xs" href="#" title="Like"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></small> -->
<!-- 					</p> -->
<!-- 					<hr/> -->
					</div>
				</div>
			</div>
	<div th:replace="fragments/footer :: footer"></div>
	
	
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Uuups...</h4>
		      </div>
		      <div class="modal-body">
		      	<p>Sorry, but this function is not implemented yet...</p>
		      	 <img alt="" src="/images/sorry.png" style="width: 570px;"/>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>