<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<title>Search results</title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/upcase.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>

<style type="text/css">

.quotation {
	color: #990000;
	font-weight: 800;
}
</style>

</head>
<body>
	<div sec:authorize="hasRole('ROLE_USER')">
		<div th:replace="fragments/nav-bar-user :: nav-bar-user"></div>
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<div th:replace="fragments/nav-bar-admin :: nav-bar-admin"></div>
	</div>
	<div sec:authorize="isAnonymous()">
		<div th:replace="fragments/nav-bar :: nav-bar"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
<!-- 				<form class="form-horizontal"> -->
<!-- 					<div class="row"> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<label for="searchForm" class="col-sm-2 control-label" -->
<!-- 									style="text-align: left;">Query</label> -->
<!-- 								<div class="col-sm-8"> -->
<!-- 									<input type="text" class="form-control" placeholder="Suche..." -->
<!-- 										id="searchForm" name="searchPhrase" th:value="*{searchPhrase}" -->
<!-- 										autofocus="autofocus" autocomplete="off" /> -->
<!-- 								</div> -->
<!-- 								<div class="checkbox col-sm-2"> -->
<!-- 									<label style="padding-left: 10px; font-weight: 100;"> <input id="regex" -->
<!-- 										type="checkbox" th:value="${regex}" th:checked="${regex} == true" name="regex" />Regex -->
<!-- 									</label> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="form-group"> -->
<!-- 								<label for="volumeSelection" class="col-sm-2 control-label" -->
<!-- 									style="text-align: left;">Band</label> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<select class="form-control" id="volumeSelection" name="volumeSelection"> -->
<!-- 										<option  value="">- alle -</option> -->
<!-- 										<option th:each="vol: ${volumeList}" th:value="${vol}" -->
<!-- 											th:text="${vol}" th:selected="${#strings.equals(vol, volumeSelection)}">Band I</option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 								<label for="chapterSelection" class="col-sm-2 control-label" -->
<!-- 									style="text-align: left;">Kapitel</label> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<select class="form-control" id="chapterSelection" name="chapterSelection"> -->
<!-- 										<option value="alle">- alle -</option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="col-md-6"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<label class="col-sm-2 control-label" style="text-align: left;">Idiom</label> -->
<!-- 								<div class="col-sm-4"> -->
<!-- 									<select class="form-control" name="langSelection"> -->
<!-- 										<option  value="alle">- alle -</option> -->
<!-- 										<option th:each="lang : ${languageList}" th:value="${lang}" -->
<!-- 											th:text="${lang}" th:selected="${#strings.equals(lang, langSelection)}">Sursilvan</option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="form-group"> -->
<!-- 								<button type="submit" class="btn btn-success">Suchen</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</form> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>
					<strong>Results for <span class="text-info" th:text="${searchPhrase}"> </span>
					</strong> (Hits <span class="text-info" th:text="${offset} + 1"></span> -
					<span class="text-info" th:text="${offset + hits.size()}"></span>
					total <span class="text-info" th:text="${totalHits}"></span>)
				</h4>
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th width="5%">#</th>
<!-- 							<th width="10%">Band <a id="sortVolume" href="#"><span class="glyphicon" aria-hidden="true"></span></a></th> -->
<!-- 							<th width="20%">Kapitel <a id="sortChapter" href="#"><span class="glyphicon" aria-hidden="true"></span></a></th> -->
<!-- 							<th width="5%">Idiom</th> -->
							<th width="40%">Context</th>
							<th width="20%">Options</th>
						</tr>
					</thead>
					<tr th:each="result, stats : ${hits}">
						<td><span th:text="${offset + stats.count}">1</span></td>
<!-- 						<td><a -->
<!-- 							th:href="@{volume/title(volumeTitle=${result.volumeTitle})}" -->
<!-- 							th:text="${result.volumeTitle}">Band I</a></td> -->
<!-- 						<td><a -->
<!-- 							th:href="@{chapter/title(chapterTitle=${result.chapter})}" -->
<!-- 							th:text="${result.chapter}">Daniel Bonifaci</a></td> -->
<!-- 						<td><span th:text="${result.language}">Sursilvan</span></td> -->
						<td><span th:utext="${result.quotations[0]}"></span></td>
<!-- 						th:href="@{showDocument(pageId=${result.pageId}, resultQuotations=${result.quotations})}"  -->
						<td>
<!-- 						<a  -->
<!-- 							th:attr="data-pageId=${result.pageId}, data-resultQuotations=${result.quotations}" -->
<!-- 							data-toggle="modal" -->
<!-- 							data-target="#myModal" -->
<!-- 							href="#" -->
<!-- 							class="showInContextBtn"> -->
<!-- 							<span th:text="${result.imageUrl}"></span></a> -->

							<small><a class="btn btn-default btn-xs" th:href="@{/user/collection/{title}(title=${result.collectionTitle})}" title="Show Collection"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></small>
							<small><a class="btn btn-default btn-xs" th:href="@{/edit/page/{id}(id=${result.pageId})}" title="Edit Page"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></small>
							<small><a class="btn btn-default btn-xs" th:href="@{/user/profile/{id}(id=${result.ownerId})}" title="User Profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></small>
							<small><a class="btn btn-default btn-xs" th:href="@{/export/page/{id}(id=${result.pageId})}" target="_blank" title="Exoprt"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></small>
						</td>
					</tr>
					<tr>
						<td colspan="6">
							<div>
								<nav>
									<ul class="pagination pagination-sm">
										<li th:class="${prev == true ? 'disabled' : ''}"><a
											th:if="${prev} == false"
											th:href="@{searchResult(searchPhrase=${searchPhrase}, page=${page - 1})}"
											aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
											<a th:if="${prev} == true" href="#" aria-label="Previous"><span
												aria-hidden="true">&laquo;</span></a></li>
										<li th:class="${(page - 1) == i ? 'active' : ''}"
											th:each="i : ${#numbers.sequence(0, chunks/1)}"><a
											th:href="@{searchResult(searchPhrase=${searchPhrase}, page=${i + 1})}"
											th:text="${i + 1}">1 <span class="sr-only">(current)</span>
										</a></li>
										<li th:class="${next == true ? 'disabled' : ''}"><a
											th:if="${next} == false"
											th:href="@{searchResult(searchPhrase=${searchPhrase}, page=${page + 1})}"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a> <a th:if="${next} == true" href="#" aria-label="Next"><span
												aria-hidden="true">&raquo;</span></a></li>
									</ul>
								</nav>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- .modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">MODAL</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-dismiss="modal">Schließen</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<script th:inline="javascript">
		/*<![CDATA[*/

		$( document ).ready(function() {
			
			$('.showInContextBtn').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget); // Button that triggered the modal
				var pageId = button.data('pageId'); // Extract info from data-* attributes
				var resultQuotations = button.data('resultQuotations');
				var _modalBody = $(this).find('.modal-body');
				alert(pageId + ",  " + resultQuotations);
			});
			
			// Turn on/off regex search option
			$('#regex').click(function() {
				var isChecked = $(this).is(":checked");
				$(this).val(isChecked ? true : false); 
				
			});
			
			var volumeSort = getURLParameter("volumeSort");
			var chapterSort = getURLParameter("chapterSort");
			
			var _sortImgVol = $("#sortVolume").children().first();
			setSortImg(volumeSort, _sortImgVol);
			
			var _sortImgChap = $("#sortChapter").children().first();
			setSortImg(chapterSort, _sortImgChap);
			
			$("#volumeSelection").change(function() {
				var volume = $("#volumeSelection option:selected").text();
				var url = "http://localhost:8080/chapters/by/volume/title/" + volume;
				$.get(url, function(data) {
					var options = "<option value='alle'>- alle -</option>";
					for (var i = 0; i < data.length; i++) {
						options += "<option value='"+data[i]+"'>" + data[i] + "</option>";
					}
					$("#chapterSelection").empty().html(options);
				});
			});
	
			$("#sortVolume").click(function(event) {
				event.preventDefault();
				if(typeof volumeSort == 'undefined' || volumeSort == "none") {
					volumeSort = "asc";
					chapterSort = "none"
				} else {
					volumeSort = (volumeSort == "asc") ? "des" : "asc";
				}
				window.location = buildURL(volumeSort, chapterSort);
			});
			
			$("#sortChapter").click(function(event) {
				event.preventDefault();
				if(typeof chapterSort == 'undefined' || chapterSort == "none") {
					chapterSort = "asc";
					volumeSort = "none"
				} else {
					chapterSort = (chapterSort == "asc") ? "des" : "asc";
				}
				window.location = buildURL(volumeSort, chapterSort);
			});
		
		});
		
		function setSortImg(sortType, selector) {
			if(sortType == "asc") {
				selector.removeClass("glyphicon-sort-by-alphabet-alt").addClass("glyphicon-sort-by-alphabet");
			} else if(sortType == "des"){
				selector.removeClass("glyphicon-sort-by-alphabet").addClass("glyphicon-sort-by-alphabet-alt");
			} else {
				selector.removeClass("glyphicon-sort-by-alphabet-alt glyphicon-sort-by-alphabet").addClass("glyphicon-sort");
			}
		}
		
		function buildURL(volumeSort, chapterSort) {
			
			var searchPhrase = getURLParameter("searchPhrase");
			var page = getURLParameter("page");
			var regex = getURLParameter("regex");
			var volumeSelection = getURLParameter("volumeSelection");
			var chapterSelection = getURLParameter("chapterSelection");
			var langSelection = getURLParameter("langSelection");
			
			var baseURL = "http://localhost:8080/searchResult?";
			
			if (typeof page == 'undefined') {
				page = 1;
			}
			
			return baseURL + "searchPhrase=" + searchPhrase 
				+ "&" + "page=" + page 
				+ "&" + "volumeSort=" + volumeSort 
				+ "&" + "chapterSort=" + chapterSort 
				+ "&" + "volumeSelection=" + volumeSelection
				+ "&" + "chapterSelection=" + chapterSelection
				+ "&" + "langSelection=" + langSelection
				+ "&" + "regex=" + regex;
		}
		
		function getURLParameter(sParam) {
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++) {
				var sParameterName = sURLVariables[i].split('=');
				if (sParameterName[0] == sParam) {
					return sParameterName[1];
				}
			}
		}
		/*]]>*/
	</script>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>