<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/upcase.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<title>Signup</title>
</head>
<body>

	<div th:replace="fragments/nav-bar :: nav-bar"></div>

	<div class="jumbotron">
		<h1>Sign up</h1>

		<!-- FORM -->
		<form action="signup" th:action="@{/signup}" method="post"
			enctype="multipart/form-data" name="registrationForm"
			th:object="${registrationForm}" class="form-horizontal">

			<!-- FIRST_NAME -->
			<div class="form-group">
				<label for="firstName" class="col-sm-2 control-label">First
					Name<span class="greyish">*</span>
				</label>
				<div class="col-sm-8">
					<input name="firstName" type="text" class="form-control"
						id="firstName" placeholder="Enter your name"
						th:value="${registrationForm.firstName}" /><span
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
						th:class="formError">Please enter your first name</span>
				</div>
			</div>

			<!-- LAST_NAME -->
			<div class="form-group">
				<label for="lastName" class="col-sm-2 control-label">Last
					Name<span class="greyish">*</span>
				</label>
				<div class="col-sm-8">
					<input name="lastName" type="text" class="form-control"
						id="lastName" placeholder="Enter your last name"
						th:value="${registrationForm.lastName}" /> <span
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
						th:class="formError">Please enter your last name.</span>
				</div>
			</div>

			<!-- EMAIL_ADDRESS -->
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email<span
					class="greyish">*</span></label>
				<div class="col-sm-8">
					<input name="email" type="text" class="form-control" id="email"
						placeholder="Enter your email address"
						th:value="${registrationForm.email}" /> <span
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						th:class="formError">Please enter your email address.</span>
				</div>
			</div>

			<!-- PASSWORD -->
			<div class="form-group">
				<label for="passwd" class="col-sm-2 control-label">Password<span
					class="greyish">*</span></label>
				<div class="col-sm-8">
					<input name="passwd" type="password" class="form-control"
						placeholder="Enter a password"
						th:value="${registrationForm.password}" th:field="*{password}" />
					<span th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}" th:class="formError">Choose a
						password.</span>
				</div>
			</div>

			<!-- CONFIRM_PASSWORD -->
			<div class="form-group">
				<label for="confirmPasswd" class="col-sm-2 control-label">Confirm
					Password<span class="greyish">*</span>
				</label>
				<div class="col-sm-8">
					<input name="confirmPasswd" type="password" class="form-control"
						placeholder="Enter password again"
						th:value="${registrationForm.confirmPassword}"
						th:field="*{confirmPassword}" /> <span
						th:if="${#fields.hasErrors('confirmPassword')}"
						th:errors="*{confirmPassword}" th:class="formError">Please
						confirm the password</span>
				</div>
			</div>

			<!-- INSTITUTION -->
			<div class="form-group">
				<label for="institution" class="col-sm-2 control-label">Institution</label>
				<div class="col-sm-8">
					<input name="institution" type="text" class="form-control"
						id="institution" placeholder="Enter your company or institution"
						th:value="${registrationForm.institution}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button type="submit" class="btn btn-primary btn-xs">Submit</button>
					<a th:href="@{/}" class="btn btn-default btn-xs">Cancel</a>
				</div>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>