<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Upload</title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<link href="../assets/css/upcase.css" rel="stylesheet" type="text/css" />


<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<style type="text/css">
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.wrapper {
	margin: 10px;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	box-shadow: none;
	position: relative;
	padding: 0px 15px 15px;
	border-style: solid;
}

.formError {
	color: red;
}

.greyish {
	color: #999;
}
</style>
</head>
<body>
	<div th:replace="fragments/nav-bar-user :: nav-bar-user"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="wrapper">
				<h1>Create a new collection</h1>
				<!-- 				<h2>Basic settings</h2> -->
				<form th:action="@{/create/collection}" method="post"
					enctype="multipart/form-data" name="uploadForm"
					th:object="${uploadForm}">
					<div class="form-group">
						<label for="collectionName">Collection name<span
							class="greyish">*</span></label> <input name="collectionName" type="text"
							class="form-control" id="collectionName"
							placeholder="MyCollection"
							th:value="${uploadForm.collectionName}" /> <span
							th:if="${#fields.hasErrors('collectionName')}"
							th:errors="*{collectionName}" th:class="formError">Please
							enter a collection name.</span>
					</div>
					<div class="form-group">
						<label for="description">Description</label> <input
							name="description" type="text" class="form-control"
							id="description" placeholder="My first collecion"
							th:value="${uploadForm.description}" />
					</div>
					<div class="form-group">
						<label for="exampleInputFile">File<span class="greyish">*</span></label>
						<input type="file" name="files[]" accept=".png, .jpg" th:field="*{files}" multiple="multiple"/> <span
							th:if="${#fields.hasErrors('files')}"
							th:errors="*{files}" 
							th:class="formError">Please choose a file to upload.</span>
						<p class="help-block">Selectable file types are: PNG or JPEG</p>
					</div>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>