html {
	position: relative;
	min-height: 100%;
}

body {
	/* 	padding-top: 70px; */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
/* 	background-color: #f5f5f5; */
	background-color: #e5e5e5;
}

.footer-link {
	color: #777;
}

.container .text-muted {
	margin: 20px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

.wrapper-list {
	height: 600px;
	overflow: scroll;
}

.nav-a-items {
	color: #333;
	font-size: 13px;
}

li a.nav-a-items:hover {
	background-color: #C5E3BF;
}

.minty {
	background-color: #C5E3BF;
}
.redish {
	color:#aa2c0b;
}
.greyish {
	color:#333;
}
.pinkishComplimentary {
	color: #c5e3bf;
}

.jumbotron {
	background-color: #C5E3BF; important!
}
