<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<footer th:fragment="footer" class="footer">
		<div class="container">
			<p class="text-muted">
				<a
					href="http://www.spinfo.phil-fak.uni-koeln.de/spinfo-startseite0.html">Sprachliche
					Informationsverarbeitung</a> <span> | </span><a
					href="http://www.uni-koeln.de/">Universität zu Köln</a> <span>
					| </span> <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">1984</span>
			</p>
		</div>
	</footer>

</body>
</html>