<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer">
		<footer class="bs-docs-footer" role="contentinfo">
			<div class="container">
				<ul class="bs-docs-footer-links">
					<li><a
						href="http://www.spinfo.phil-fak.uni-koeln.de/spinfo-startseite0.html">Sprachliche
							Informationsverarbeitung</a></li>
					<li><a href="http://www.uni-koeln.de/">Universität zu Köln</a></li>
					<li> |  <span
						th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span></li>
				</ul>
			</div>
		</footer>
	</div>
</body>
</html>