<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="nav-bar-user" class="navbar navbar-default minty"
		role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">UpCASE</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-left" role="search"
					th:action="@{/searchResult}">
					<div class="form-group">
						<input type="text" class="form-control"
							placeholder="Search collections..." name="searchPhrase"
							th:value="*{searchPhrase}" autofocus="autofocus"
							autocomplete="on" style="width: 250px;" /> <label
							style="padding-left: 10px; font-weight: 100;"> <span
							style="padding-left: 10px;">rgx*</span>
						</label>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Settings <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li class="dropdown-header">Signed in as <span
								class="navbar-link redish" style="color: #aa2c0b;"
								th:text="${userName + ' (USER) '}">Hercules</span></li>
							<li role="separator" class="divider"></li>
							<li><a class="nav-a-items" th:href="@{/user/profile/my}">Your
									Profile</a></li>
							<li><a class="nav-a-items" th:href="@{/user/collections/my}">Your
									Collections</a></li>
							<li><a class="nav-a-items" th:href="@{/create/collection}">Create
									a new Collection</a></li>
							<li role="separator" class="divider"></li>
							<li><a class="nav-a-items" href="#">Settings</a></li>
							<li><a class="nav-a-items" th:href="@{/logout}">Logout</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
</body>
</html>