Unstaged changes after reset:
M	pom.xml
M	src/main/java/de/uni_koeln/spinfo/upcase/config/MongoDbConfig.java
M	src/main/java/de/uni_koeln/spinfo/upcase/config/SecurityConfig.java
M	src/main/java/de/uni_koeln/spinfo/upcase/config/ThymeLeafConfig.java
D	src/main/java/de/uni_koeln/spinfo/upcase/controller/ChapterController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/CollectionsNavController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/ContentController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/IndexController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/VolumeController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/administration/AdminController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/search/SearchController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/user/RegistrationController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/controller/user/UploadController.java
M	src/main/java/de/uni_koeln/spinfo/upcase/model/Encoding.java
M	src/main/java/de/uni_koeln/spinfo/upcase/model/validator/RegistrationFormValidator.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/data/PoS.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/data/core/AbstractDocument.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/data/core/RangeDocument.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/data/document/UpcaseUser.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/repository/UpcaseUserRepository.java
M	src/main/java/de/uni_koeln/spinfo/upcase/mongodb/repository/UpcaseUserRepositoryImpl.java
M	src/main/resources/database.properties
M	src/main/resources/locale/messages.properties
M	src/main/webapp/WEB-INF/dispatcher-servlet.xml
D	src/main/webapp/WEB-INF/upcase-servlet.xml
M	src/main/webapp/WEB-INF/views/correct.html
M	src/main/webapp/WEB-INF/views/extendedSearch.html
M	src/main/webapp/WEB-INF/views/fragments/chapter-list.html
D	src/main/webapp/WEB-INF/views/fragments/drc-nav.html
M	src/main/webapp/WEB-INF/views/fragments/footer.html
M	src/main/webapp/WEB-INF/views/fragments/nav-bar.html
M	src/main/webapp/WEB-INF/views/fragments/search.html
M	src/main/webapp/WEB-INF/views/fragments/volume-list.html
M	src/main/webapp/WEB-INF/views/index.html
M	src/main/webapp/WEB-INF/views/searchResult.html
M	src/main/webapp/WEB-INF/views/signup.html
M	src/main/webapp/WEB-INF/views/volumes.html
M	src/main/webapp/WEB-INF/web.xml
M	src/main/webapp/assets/css/upcase.css
M	src/test/java/de/uni_koeln/spinfo/upcase/test/JUnitTestSuite.java
M	src/test/java/de/uni_koeln/spinfo/upcase/test/context/PersistenceContext.java
M	src/test/java/de/uni_koeln/spinfo/upcase/test/context/SecurityContext.java
M	src/test/java/de/uni_koeln/spinfo/upcase/test/context/WebAppContext.java
M	src/test/java/de/uni_koeln/spinfo/upcase/test/user/UpcaseUserTests.java
M	upcase_local_db.launch
