<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


	<div th:fragment="recent-collections">
		<div th:each="collection : ${collections}">
			<a href="#" class="greyish"><strong th:text="${collection.title}">TITLE</strong></a>
			<br/>	
			<span style="font-size: 13px; color: #333;" th:text="${collection.description}"></span>
			<p>
				<small><span>Created on: </span><span th:text="${#dates.format(collection.creationDate, 'dd/MMM/yyyy')}">2009-08-01</span></small>
<!-- 				<small>by <a th:href="@{/user/profile/{path}(path=${collection.owner})}"><span class="redish" th:text="${#strings.substring(collection.owner,0,5)}">OWNER</span></a></small> -->
				 <span> | </span> 
				<small> <a class="btn btn-default btn-xs" th:href="@{/user/collection/{title}(title=${collection.title})}" title="Show"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></small>
				<small><a class="btn btn-default btn-xs" th:href="@{/user/profile/{owner}(owner=${collection.owner})}" title="User Profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></small>
				<small sec:authorize="hasRole('ROLE_USER')"><a data-toggle="modal" data-target="#myModal"  class="btn btn-default btn-xs" title="Contribute"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></small>
				<small sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-default btn-xs" href="#" title="Like"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></small>
			</p>
			<hr/>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Uuups...</h4>
		      </div>
		      <div class="modal-body">
		      	<p>Sorry, but this function is not implemented yet...</p>
		      	 <img alt="" src="/images/sorry.png" style="width: 570px;"/>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>
